.playlist-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 90vw;
  height: 80vh;
  margin-left: 10rem;
  overflow: scroll;

  .add-playlist {
    margin: 0 auto;
  }
}

